img.headshot {
  width: 300px;
  display: block;
}

.about-blurb {
  margin-bottom: 30px;
}

.about-blurb p {
  margin-bottom: 30px;
}

.hobbies-array p {
  display: inline-block;
}

.caption {
  width: 300px;
  text-align: center;
  font-style: italic;
}

.background-color {
  background-color: $green;
}

.hobby {
  font-size: 16px;
}

.center-block {
  display: flex;
  justify-content: center;
}

// .img-border {
//   border: 5px solid $gray;
// }
