.headshot {
  height: 300px;
  width: 300px;
  background-size: cover;
}

.about-blurb {
  height: 250px;
}

.about-blurb p {
  margin-bottom: 30px;
}

.hobbies-array {
  display: flex;
  justify-content: space-between;
}

.caption {
  width: image width px;
  text-align: center;
}

.background-color {
  background-color: $green;
}

// .img-border {
//   border: 5px solid $gray;
// }
