
.expertise-card {
  // text-align: center;
  margin-top: 25px;
  margin-bottom: 25px;
}

.expertise-card i {
  font-size: 60px;
}

.expertise-card ul {
  display: inline-block;

  // text-align: left;
}

.expertise-card h4 {
  text-transform: none;
}

.centered-components {
  text-align: center;
}
