.inactive-icon {
  transition: all .07s ease;
  color: $gray;
}

.active-icon {
  transform: scale(1.1);
  color: $blue;
}

.highlight {
  // border-bottom: solid 2px $green;
  color: $blue;
}

.header-banner {
  letter-spacing: 3px;

}

.divider {
  border-bottom: 4px;
  color: blue;
}

#box1 {
  background-color: #ececec;
  height: 250px;
}

#box2 {
  background-color: #f3f3f3;
  height: 250px;
}

#box3 {
  background-color: white;
  height: 250px;
}

.tooth-border-top {
  background: linear-gradient(-135deg, #f4f4f4 10.5px, transparent 0) 0 -0.5px, linear-gradient(135deg, #f4f4f4 10.5px, #ffffff 0) 0 0.5px;
  background-color: #f4f4f4;
  background-size: 21px 21px;
  height: 20px;
  width: 100%;

}

.tooth-border-bottom {
  background: linear-gradient(-135deg, #ffffff 10.5px, transparent 0) 0 -0.5px, linear-gradient(135deg, #ffffff 10.5px, #f4f4f4 0) 0 0.5px;
  background-color: #ffffff;
  background-size: 21px 21px;
  height: 20px;
  width: 100%;
}

.white-background {
  background-color: white;
}
