---
---

@import "minima";
@import url('https://fonts.googleapis.com/css?family=Average|Cantarell|Fjalla+One');

/**
 * Reset some basic elements
 */
a {
  text-decoration: none;
  color: #1756a9;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-family: "Fjalla One"; }

blockquote, pre, hr,
dl, dd, ol, ul, figure {
  font-family: "Cantarell";
  // font-size: 16px;
}

p {
  font-size: 18px;
  font-family: "Cantarell";
}

body {
  background-color: #fdfdfd;
}

.site-title {
  font-family: "Fjalla One";
  letter-spacing: 3px;
  text-transform: uppercase;
  float: none;
}

.site-header {
  border-top: 5px solid #1756a9;
}

img.site-logo {
  height: 40px;
  display: inline-block;
  margin-bottom: 10px;
}

.post-title {
  @include relative-font-size(2);
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    @include relative-font-size(2);
  }
}

.post-list-heading {
  letter-spacing: 3px;
  color: #424242;
}

img {
  height: auto;
}

figcaption {
    display: inline-block;
    text-align: left;
    font-size: 0.9em;
    font-style: italic;
    margin: 0.1em 1em;
    padding: 0.3em 0;
    color: #999;
}

figure {
  text-align: center;
}

a.page-link {
  color: #616668;
  font-size: 14px;
  border-bottom: solid 5px #FDFDFD;
  font-family: "Cantarell";
  text-transform: uppercase;
}

a.page-link:hover {
  text-decoration: none;
  color: #616668;
  border-bottom: solid 5px #1756a9;
}

a.post-link {
  text-decoration: none;
}

.footer-heading {
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-bottom: 0px;
}

.footer-text {
  font-size: 16px;
}

.center-image {
  display: block;
  margin: 0 auto;
}
