<div class="navbar-wagon">
  <!-- Logo -->
  <div class="navbar-wagon-brand-lockup">
      <%= image_tag "pers_log_5.png", class: "navbar-wagon-brand"%>

    <!-- <a href="" class="navbar-wagon-item navbar-wagon-link nav-logo">PAUL BUSBY</a> -->
    <h1 class="nav-logo">PAUL BUSBY</h1>
  </div>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">
    <a href="" class="navbar-wagon-item navbar-wagon-link nav nav-tabs">HOME</a>
    <a href="" class="navbar-wagon-item navbar-wagon-link">ABOUT</a>
    <a href="" class="navbar-wagon-item navbar-wagon-link">EXPERTISE</a>
    <a href="" class="navbar-wagon-item navbar-wagon-link">PORTFOLIO</a>
    <a href="" class="navbar-wagon-item navbar-wagon-link">CONTACT</a>
    <a href="/blog" class="navbar-wagon-item navbar-wagon-link">BLOG</a>

    <!-- Profile picture with dropdown list -->
    <!-- <div class="navbar-wagon-item">
      <div class="dropdown">
        <img src="https://kitt.lewagon.com/placeholder/users/ssaunier" class="avatar dropdown-toggle" id="navbar-wagon-menu" data-toggle="dropdown">
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li><a href="#">Profile</a></li>
          <li><a href="#">Dashboard</a></li>
          <li><a href="#">Log Out</a></li>
        </ul>
      </div>
    </div> -->
  </div>

  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fas fa-bars dropdown-toggle" data-toggle="dropdown" role="button"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><a href="#">ABOUT</a></li>
        <li><a href="#">EXPERTISE</a></li>
        <li><a href="#">PORTFOLIO</a></li>
        <li><a href="#">CONTACT</a></li>
      </ul>
    </div>
  </div>
</div>
