<div class="navbar-wagon">
  <!-- Logo -->
  <div class="navbar-wagon-brand-lockup">

    <!-- <img class="navbar-wagon-brand" src="/assets/personal_logo_final_noborder.png"> -->
    <!-- <a href="" class="navbar-wagon-item navbar-wagon-link nav-logo">PAUL BUSBY</a> -->
    <h1 class="nav-logo">PAUL BUSBY</h1>

  </div>


  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">
    <a href="" class="navbar-wagon-item navbar-wagon-link">HOME</a>
    <a href="#about" class="navbar-wagon-item navbar-wagon-link">ABOUT</a>
    <a href="#expertise" class="navbar-wagon-item navbar-wagon-link">EXPERTISE</a>
    <a href="#portfolio" class="navbar-wagon-item navbar-wagon-link">PORTFOLIO</a>
    <a href="#contact" class="navbar-wagon-item navbar-wagon-link">CONTACT</a>
    <a href="/blog" class="navbar-wagon-item navbar-wagon-link">BLOG</a>

    <!-- Profile picture with dropdown list -->
    <!-- <div class="navbar-wagon-item">
      <div class="dropdown">
        <img src="https://kitt.lewagon.com/placeholder/users/ssaunier" class="avatar dropdown-toggle" id="navbar-wagon-menu" data-toggle="dropdown">
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li><a href="#">Profile</a></li>
          <li><a href="#">Dashboard</a></li>
          <li><a href="#">Log Out</a></li>
        </ul>
      </div>
    </div> -->
  </div>

  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fas fa-bars dropdown-toggle" data-toggle="dropdown" role="button"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><a href="#about">ABOUT</a></li>
        <li><a href="#expertise">EXPERTISE</a></li>
        <li><a href="#portfolio">PORTFOLIO</a></li>
        <li><a href="#contact">CONTACT</a></li>
        <li><a href="/blog">BLOG</a></li>
      </ul>
    </div>
  </div>
</div>
