<div class="banner" style="background-image: linear-gradient(to bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%), url('https://res.cloudinary.com/dtb2b6cpx/image/upload/v1548260229/Paul%27s%20Photography/ferngully.jpg');">
  <div class="banner-content">
    <h1>Creative down to a science</h1>
    <p>Applying a scientific approach to creative outreach</p>
    <div class="banner-icons">
      <a href="#"><i class="fab fa-github"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-linkedin"></i></a>
    </div>
  </div>
</div>
<div class="wrapper">
  <div class="row">
    <div class="col-xs-4">
      <p>Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition. </p>
    </div>
    <div class="col-xs-4">
      <p>Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition. </p>
    </div>
    <div class="col-xs-4">
      <p>Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition. </p>
    </div>
  </div>
</div>
