<div class="banner" style="background-image: linear-gradient(to right, rgba(0,0,0,0.13) 0%,rgba(0,0,0,0.54) 38%,rgba(0,0,0,0.57) 68%,rgba(0,0,0,0.12) 100%), url('https://res.cloudinary.com/dtb2b6cpx/image/upload/v1548260229/Paul%27s%20Photography/ferngully.jpg');">
  <div class="banner-content">
    <h1>Creative by nature</h1>
    <p>Analytical by trade</p>
    <div class="banner-icons">
      <a href="#"><i class="fab fa-github"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-linkedin"></i></a>
    </div>
  </div>
</div>
<div class="wrapper" id="about">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-4">
        <div class="caption">
          <div class="headshot" style="background-image: url('https://res.cloudinary.com/dtb2b6cpx/image/upload/v1552696025/Paul%27s%20Photography/headshot_gray_me.jpg');">
          </div>
          Exhibit A: My Photoshopped Face
        </div>
      </div>
      <div class="col-xs-12 col-md-8">
        <h3 class="header-banner">About</h3>
        <div class="about-blurb">
          <p>This is the part where I usually tell you about how normal I am. How I worked in the Chicago advertising industry for 5 years and somehow convinced people brands are cool. How I discovered my love for coding when I dropped my first cookie on a client's website, and how I love learning so much it's a bit nerdy.</p>

          <p>Oh and how I have an assortment of mildly interesting hobbies: </p>

        </div>
        <div class="row">
          <div class="hobbies-array">
            <div class="col-xs-5 col-sm-4 hobby">
              <i class="fas fa-fish"></i>
              <p>Aquariums</p>
            </div>
            <div class="col-xs-5 col-sm-4 hobby">
              <i class="fas fa-campground"></i>
              <p>Camping</p>
            </div>
            <div class="col-xs-5 col-sm-4 hobby">
              <i class="fas fa-guitar"></i>
              <p>Guitar</p>
            </div>
            <div class="col-xs-5 col-sm-4 hobby">
              <i class="fas fa-code"></i>
              <p>Coding</p>
            </div>
            <div class="col-xs-5 col-sm-4 hobby">
              <i class="fas fa-camera"></i>
              <p>Photos</p>
            </div>
            <div class="col-xs-5 col-sm-4 hobby">
              <i class="fas fa-gamepad"></i>
              <p>Gaming</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="tooth-border-top box-shadow"></div>
<div class="wrapper white-background expertise" id="expertise">
  <div class="container">
    <div class="row">
      <div class="col-md-10">
        <h3 class="header-banner">Expertise</h3>
        <p>I bet you were also dying to hear some killer buzzwords about my skillset. If not, hang tight while I indulge in a little SEO.</p>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="expertise-card">
          <div class="centered-components">
            <i class="fas fa-chart-bar" id="skill1"></i>
            <h4>Ad Buying</h4>
          </div>
          <p>Leverage agile frameworks to provide a robust synopsis for high level overviews. </p>
          <ul>
            <li>Conversion Ads</li>
            <li>Social Media Management</li>
            <li>Web Analytics</li>
          </ul>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="expertise-card">
          <div class="centered-components">
            <i class="far fa-file-image" id="skill2"></i>
            <h4>Content Marketing</h4>
          </div>
          <p>Leverage agile frameworks to provide a robust synopsis for high level overviews. </p>
          <ul>
            <li>Copywriting</li>
            <li>Image Editing and Design</li>
            <li>Video Directing and Producing</li>
          </ul>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="expertise-card">
          <div class="centered-components">
            <i class="fas fa-code" id="skill3"></i>
            <h4>Web Development</h4>
          </div>
          <p>Leverage agile frameworks to provide a robust synopsis for high level overviews. </p>
          <ul>
            <li>Frontend and backend</li>
            <li>Web design</li>
            <li>Bullet</li>
          </ul>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
<div class="tooth-border-bottom"></div>
<div class="wrapper" id="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h3 class="header-banner">Portfolio</h3>
        <p>I guess you could say I'm pretty brand loyal. Here's a look at who I've worked closely with over the years: </p>
          <div class='photo-grid-container'>
            <div class="photo-grid">
              <div class= 'photo-grid-item'>
                <img src='/assets/ab_inbev_badge.png'/>
              </div>
              <div class='photo-grid-item'>
                <img src='/assets/SBC badge.png'/>
              </div>
              <div class='photo-grid-item'>
                <img src='/assets/PFJ badge.png'/>
              </div>
              <div class='photo-grid-item'>
                <img src='/assets/Turtle Wax badge 2.png'/>
              </div>
              <div class='photo-grid-item'>
                <img src='/assets/Four_Seasons_badge.png'/>
              </div>
              <div class='photo-grid-item'>
                <img src='/assets/Dawn badge.png'/>
              </div>
              <div class='photo-grid-item'>
                <img src='/assets/Sears badge.png'/>
              </div>
              <div class='photo-grid-item'>
                <img src='/assets/Dickies_badge.png'/>
              </div>
              <div class='photo-grid-item'>
                <img src='/assets/pyrex_badge.png'/>
              </div>
              <div class='photo-grid-item'>
                <img src='/assets/teavana_badge.png'/>
              </div>
            </div>
          </div>
        </div>
      <!--   <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">
          Launch demo modal
        </button> -->
        <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
          <div class="modal-dialog my-modal" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h3 class="modal-title header-banner" id="exampleModalLongTitle">Anheuser-Busch</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                      <div class="col-xs-12">
                        <p>Conceived, produced and advertised an International Beer Day video for
                        Let’s Grab A Beer that was picked up by Buzzfeed, Gizmodo, Fox News,
                        Business Insider, Thrillist etc. and received 250,000+ views</p>
                      </div>
                      <div class="col-xs-6">
                        <img id="modal-infographic" src='https://res.cloudinary.com/dtb2b6cpx/image/upload/v1552650016/Paul%27s%20Photography/Portfolio%20Images/beer_summer.jpg'>
                      </div>
                      <div class="col-xs-6">
                        <h6>Roles</h6>
                        <h6>Results</h6>
                        <h6>Stuff</h6>
                      </div>
                    </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
