<div class="banner" style="background-image: linear-gradient(to right, rgba(0,0,0,0.13) 0%,rgba(0,0,0,0.54) 38%,rgba(0,0,0,0.57) 68%,rgba(0,0,0,0.12) 100%), url('https://res.cloudinary.com/dtb2b6cpx/image/upload/v1548260229/Paul%27s%20Photography/ferngully.jpg');">
  <div class="banner-content">
    <h1>Creative down to a science</h1>
    <p>Applying a scientific approach to creative outreach</p>
    <div class="banner-icons">
      <a href="#"><i class="fab fa-github"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-linkedin"></i></a>
    </div>
  </div>
</div>
<div class="wrapper">
  <div class="container">
  <h3>&lt <span class="highlight">About</span> Me &gt</h3>
    <div class="row">
      <div class="col-6 col-md-4">
        <div class="caption">
          <div class="headshot" style="background-image: url('https://res.cloudinary.com/dtb2b6cpx/image/upload/v1552696025/Paul%27s%20Photography/headshot_gray_me.jpg');">
          </div>
          Exhibit A: My Photoshopped Face
        </div>
      </div>
      <div class="col-12 col-md-8">
        <div class="about-blurb">
        <p>This is the part where I usually tell you about how normal I am. How I worked in the Chicago advertising agency for 5 years and somehow convinced people brands are cool. How I discovered my love for coding when I dropped my first Javascript cookie on a client's website, and how I love learning so much that it's kind of nerdy.</p>

        <p>Oh and how I have an assortment of mildly interesting hobbies, like: </p>

        </div>
        <div class="hobbies-array">
          <div class="hobby">
            <i class="fas fa-fish"></i>
            <span>Aquariums</span>
          </div>
          <div class="hobby">
            <i class="fas fa-campground"></i>
            <span>Camping</span>
          </div>
          <div class="hobby">
            <i class="fas fa-guitar"></i>
            <span>Guitar</span>
          </div>
          <div class="hobby">
            <i class="fas fa-code"></i>
            <span>Code</span>
          </div>
          <div class="hobby">
            <i class="fas fa-camera"></i>
            <span>Photography</span>
          </div>
          <div class="hobby">
            <i class="fas fa-gamepad"></i>
            <span>Retro-games</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="wrapper">
  <div class="container">
    <h3 class="header-border">&lt My <span class="highlight"> Expertise </span>&gt</h3>
    <div class="row">
      <div class="col-12">
        <p>I bet you were also dying to hear some industry jargon and buzzwords about my skillset. If not, bear with me for the SEO.</p>
      <div class="col-xs-4">
        <div class="expertise-card" id="box1">
        <i class="fas fa-chart-pie" id="skill1"></i>
        <p>Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition. </p>
        </div>
      </div>
      <div class="col-xs-4">
        <div class="expertise-card" id="box2">
        <i class="fas fa-chart-pie" id="skill2"></i>
        <p>Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition. </p>
        </div>
      </div>
      <div class="col-xs-4">
        <div class="expertise-card" id="box3">
        <i class="fas fa-chart-pie" id="skill3"></i>
        <p>Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition. </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="wrapper">
  <div class="container">
  <span class="divider"><h3>&lt My Portfolio &gt</h3></span>
    <div class="row">
      <div class="col-12">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">
          Launch demo modal
        </button>
        <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
          <div class="modal-dialog my-modal" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLongTitle">Anheuser-Busch</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                      <div class="col-xs-12">
                        <p>Conceived, produced and advertised an International Beer Day video for
                        Let’s Grab A Beer that was picked up by Buzzfeed, Gizmodo, Fox News,
                        Business Insider, Thrillist etc. and received 250,000+ views</p>
                      </div>
                      <div class="col-xs-6">
                        <img id="modal-infographic" src='https://res.cloudinary.com/dtb2b6cpx/image/upload/v1552650016/Paul%27s%20Photography/Portfolio%20Images/beer_summer.jpg'>
                      </div>
                      <div class="col-xs-6">
                        <h6>Roles</h6>
                        <h6>Results</h6>
                        <h6>Stuff</h6>
                      </div>
                    </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
