.banner {
  text-align: center;
  height: calc(100vh - 50px);
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-content h1 {
  font-size: 50px;
  color: white;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  letter-spacing: 3px;
}

.banner p {
  font-size: 25px;
  font-weight: lighter;
  color: white;
  font-family: "Cantarell";
  text-transform: uppercase;
  letter-spacing: 3px;
  // font-style: italic;
  margin-bottom: 30px;
}

.banner-icons {
  display: flex;
  justify-content: space-around;
}

.banner-icons a {
  color: white;
  font-size: 40px;
}

.banner-icons a:hover {
 color: $green;
}
